.features {
    text-align: center;
    margin-bottom: 9rem;

    &__description {
        margin-bottom: 2rem;

        @include tablet-landscape-up {
            margin-bottom: 3rem;
        }

    }

    &__menu {
        margin-bottom: 10rem;

        @include tablet-landscape-up {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        li {
            width: 100%;
            padding: 2.2rem 0;
            border-top: 1px solid rgba(#000, 0.1);
            position: relative;
            color: $grayishBlue;
            cursor: pointer;
            transition: all .2s ease-in-out;

            @include tablet-landscape-up {
                width: 27%;
                border-top: none;
                border-bottom: 1px solid rgba(#000, 0.1);
            }

            @include desktop-up {
                width: 22%;
            }

            &:last-child {
                border-bottom: 1px solid rgba(#000, 0.1);
            }

            &:hover {
                color: $softRed;
            }

            &.active-tab {
                &:hover {
                    color: $veryDarkBlue;
                }
            }

        }
    }

    p {
        padding: 1.5rem 0 3rem;
    }

    &__tab {
        display: none;
        position: relative;

        @include tablet-landscape-up {
            text-align: left;
            width: 100%;
        }

        &-bg {
            width: 79%;
            height: 20rem;
            background-color: $softBlue;
            border-radius: 0 0 35% 0;
            margin-bottom: 5rem;

            @include tablet-portrait-up {
                height: 30rem;
                transform: translateY(1.6rem);
                width: 75%;
            }

            @include tablet-landscape-up {
                flex: 0.85;
                height: 25rem;
                transform: translateY(2.5rem);
            }

            @include desktop-up {
                height: 35.5rem;
                flex: 1;
            }
        }

        &-img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -3.4rem;
            width: 31.1rem;

            @include tablet-portrait-up {
                width: 46rem;
                top: -3.5rem;
            }

            @include tablet-landscape-up {
                width: 40rem;
                left: 7rem;
                transform: translateX(0);
            }

            @include desktop-up {
                width: 50rem;
                max-width: 60rem;
                left: 16.5rem
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .tab2-bg {
            border-radius: 0 70% 35% 0;
            width: 65%;
        }

        .tab2-img {
            top: -3.4rem;
            width: 27.7rem;

            @include tablet-portrait-up {
                top: -3.5rem;
                width: 41rem;
            }

            @include tablet-landscape-up {
                top: -3.5rem;
                width: 35.7rem;
            }

            @include desktop-up {
                width: 44.5rem;
            }
        }

        .tab3-bg {
            width: 70%;
            border-radius: 0 70% 35% 0;

            @include desktop-up {
                flex: .94;
            }
        }

        .tab3-img {
            top: -3.4rem;
            width: 25.5rem;

            @include tablet-portrait-up {
                top: -3.5rem;
                width: 37.9rem;
            }

            @include tablet-landscape-up {
                top: -3.5rem;
                width: 32.9rem;
            }

            @include desktop-up {
                width: 41rem;
            }
        }

        &-text {
            margin-bottom: 13rem;

            @include tablet-landscape-up {
                display: flex;
                padding: 1.5rem 7rem 0 12rem;
                flex: 1;
                flex-direction: column;
            }

            @include desktop-up {
                padding: 3rem 7rem 0 21.4rem;
            }

            br {
                @media screen and (max-width: 1200px) {
                    display: none;
                }
            }

            p {
                @include tablet-landscape-up {
                    width: 90%;
                }

            }

            .blue-button {
                @include mobile-only {
                    display: none;
                }

                @include tablet-landscape-up {
                    width: 12rem;
                }

                &:hover {
                    background-color: lighten($softBlue, 10%);
                }
            }
        }
    }
}