.footer {
    background: $veryDarkBlue;
    flex-direction: column;
    padding: 4rem 0 2.2rem;

    @include tablet-landscape-up {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3.3rem 7rem 2.2rem;
    }

    @include desktop-up {
        padding: 3rem 16.5rem;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

        @include tablet-landscape-up {
            margin-bottom: 0;
            margin-right: 7rem;
        }
    }

    &__menu {
        flex-direction: column;
        margin-bottom: 1.6rem;

        @include tablet-landscape-up {
            flex-direction: row;
            margin-bottom: 0;
        }

        li {

            margin-bottom: 2.6rem;

            &:not(:last-child) {
                margin-right: 5rem;

                @include mobile-only {
                    margin-right: 0;
                }
            }

            .button {
                background: transparent;
                color: #fff;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 1.6px;
                cursor: pointer;
                font-size: 1.4rem;

                @include tablet-landscape-up {
                    margin-bottom: 0;
                }

                &:hover {
                    color: $softRed;
                }
            }
        }
    }


    &__social {
        @include tablet-landscape-up {
            flex: 1;
            justify-content: flex-end;
        }

        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all .2s ease-in-out;
            color: #fff;
            font-size: 2.8rem;

            &:hover {
                color: $softRed;
            }

            &:first-child {
                margin-right: 4rem;
            }
        }
    }
}