// Font adjustment

html {
    font-size: 62.5%;
}

// Resets

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

// Pattern styles

body {
    font-size: 1.8rem;
    overflow-x: hidden;
    color: $veryDarkBlue;

    h1 {
        font-size: 2.7rem;
        letter-spacing: 0.1rem;
        line-height: 1.4;

        @include tablet-landscape-up {
            font-size: 3.8rem;
            font-weight: 500;
        }
    }

    h2 {
        font-size: 2.4rem;

        @include tablet-landscape-up {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.8rem;
    }

    h4,
    #inputTxt {
        font-weight: 400;
        font-size: 1.6rem;

        @include tablet-landscape-up {
            font-size: 1.8rem;
        }
    }

    p {
        font-size: 1.5rem;
        color: $grayishBlue;
        line-height: 1.5;

        @include tablet-landscape-up {
            font-size: 1.8rem;
        }
    }

    button {
        border: none;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        transition: .2s ease-in-out;
    }

    br {
        @include mobile-only {
            display: none;
        }
    }

}

.container {
    padding: 0 3.2rem;

    @include tablet-portrait-up {
        padding: 0 7rem;
    }

    @include desktop-up {
        padding: 0 16.5rem;
    }
}

// Buttons

.button-bs {
    box-shadow: 0px 12px 7px -4px rgba($softBlue, 0.13);
}

.red-button {
    font-weight: 400;
    padding: 1.2rem 2.5rem;
    background-color: $softRed;
    color: #fff;
    border: 2px solid $softRed;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #fff;
        color: $softRed;
    }
}

.blue-button {
    background-color: $softBlue;
    padding: 1.2rem 1.6rem;
    color: #fff;
    border: 2px solid rgba($veryDarkBlue, 0.1);

    @include tablet-portrait-up {
        padding: 1.5rem 2.5rem;
    }
}

.white-button {
    background-color: #F7F7F6;
    color: $veryDarkBlue;
    padding: 1.2rem 1.6rem;
    border: 2px solid rgba(#fff, .1);

    &:hover {
        background-color: #fff;
        border: 2px solid $veryDarkBlue;
    }

    @include tablet-portrait-up {
        padding: 1.5rem 2.5rem;
    }
}

// Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Transitions

.header__mobile-nav.open-nav {
    transform: translateX(0);
}

.hide {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}

ul li.active-tab {
    color: $veryDarkBlue;

    &:before {
        content: '';
        display: block;
        width: 40%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $softRed;

        @include tablet-landscape-up {
            width: 100%;
        }
    }
}

.features__tab.active-content {
    display: block;

    @include tablet-landscape-up {
        display: flex;
    }
}