.hero {
    width: 100%;
    position: relative;
    transition: all 1s;
    z-index: 1;
    margin-bottom: 15.7rem;

    @include tablet-landscape-up {
        display: flex;
        justify-content: space-between;

        @include tablet-portrait-up {
            padding: 0 0 0 7rem;
        }

        @include desktop-up {
            padding: 0 0 0 16.5rem;
        }
    }

    &__bg-img {
        transform: translateX(35%);
        width: 79%;
        height: 21rem;
        background-color: $softBlue;
        border-radius: 0 0 0 35%;
        margin-bottom: 4rem;

        @include tablet-portrait-up {
            width: 79%;
            transform: translateX(35%) translateY(-6rem);
            height: 26.5rem;
            margin-bottom: 0;
        }

        @include tablet-landscape-up {
            transform: translateX(0);
            height: 30rem;
            width: 40%;
            order: 2;
            transform: translateY(20%);
            border-radius: 0 0 0 50%;
        }

        @include desktop-up {
            height: 35.7rem;
            transform: translateY(20%)
        }
    }

    &__img {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -5.5rem;
        max-width: 35rem;

        @include tablet-portrait-up {
            top: -15rem;
            max-width: 50rem;
        }

        @include tablet-landscape-up {
            order: 2;
            transform: translateX(0);
            left: 53%;
            top: -4rem;
            z-index: 10;
        }

        @include desktop-up {
            max-width: 64rem;
            top: -7rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__text {
        text-align: center;


        @include tablet-landscape-up {
            padding: 0;
            order: 1;
            text-align: left;
            width: 40%;
        }

        @include desktop-up {
            width: 40%;
        }

        p {
            padding: 1.5rem 0 3rem;

            @include tablet-landscape-up {
                // width: 75%;
            }
        }

        &-buttons {

            @include tablet-landscape-up {
                justify-content: left;
            }

            .blue-button {
                margin-right: 1.5rem;

                &:hover {
                    background-color: #fff;
                    color: $softBlue;
                    border: 2px solid $softBlue;
                }
            }
        }
    }
}